.croppedGallery {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;

    .joinImagesWrapper {
        display: flex;
        animation: scroll 30s linear infinite;
        gap: var(--spacing-super-small);
        width: fit-content;
        height: 24rem;

        .joinImages {
            width: 28rem;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: var(--border-radius-extra-small);
            border-top-left-radius: var(--border-radius-extra-small);
            filter: brightness(70%);
        }

        @media(max-width: 768px) {
            .joinImages {
                width: 22rem;
                height: 100%;
            }
        }

        @media(max-width: 430px) {
            .joinImages {
                width: 18rem;
                height: 100%;
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
