.recentWorksSection {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-extra-large);
        flex-grow: 1;
        margin: 0 auto;
        max-width: var(--width-page-max);
        width: 100%;

        .topContent {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-between;
            gap: var(--spacing-super-large);

            .heading {
                max-width: 60rem;
                color: var(--color-text-accent);
                font-weight: var(--font-weight-medium);

                span {
                    font-weight: var(--font-weight-extra-bold);
                }
            }
        }

        .bottomContent {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
            gap: var(--spacing-medium);

            .card {
                height: 24rem;
                max-width: 40rem;
            }

            @media(max-width: 768px) {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
