.testimonial {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--spacing-enormous) 0;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--spacing-large) 0;
        gap: var(--spacing-extra-large);
        flex-grow: 1;
        margin: 0 auto;
        max-width: 50rem;
        width: 100%;
        z-index: 111;

        .articleBody {
            color: var(--color-secondary);
        }
    }
}
