.boards {
    display: grid;
    grid-gap: var(--spacing-mega-large);
    grid-template-columns: 1fr 1.5fr;

    .buttonGroup {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
        align-items: flex-start;
    }

    .button {
        color: var(--color-tertiary-dark);
        font-size: var(--font-size-large);

        &.active {
            font-weight: var(--font-weight-extra-bold);
        }
    }

    .membersGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        grid-gap: var(--spacing-extra-large);
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-super-large);

        .buttonGroup {
            flex-direction: row;
            justify-content: center;
        }
    }
}
