.visionAndMissionWrapper {
    padding-top: 0;
    min-height: 35vh;

    .visionAndMissionContent {
        display: grid;
        margin: 0 auto;
        width: 100%;
        max-width: var(--width-page-min);
        grid-gap: var(--spacing-gigantic);
        grid-template-rows: 1fr 0.5fr;

        .missionVision {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-small);

            .description {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-base);
                font-size: var(--font-size-large);

                .textAccent {
                    color: var(--color-text-accent);
                    font-weight: var(--font-weight-extra-bold);
                }

            }
        }
    }

    @media (max-width: 1014px) {
        padding: var(--spacing-super-large);
    }
}

