.gallery {
    display: flex;
    flex-direction: column;
    --border-radius-tabs: 25px;
    background: var(--color-background-gradient);


    .sectionContent {
        gap: var(--spacing-super-large);
        padding-bottom: var(--spacing-galactic);
    }

    .tabs {
        display: flex;
        gap: var(--spacing-medium);

        .tab {
            background-color: unset;
            border: 1px solid var(--color-primary);
            border-radius: var(--border-radius-tabs);

            &:hover, &.active {
                background-color: var(--color-primary);
            }
        }
    }

    .album {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);

        .images {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(360px, 20rem));
            gap: var(--spacing-medium);

            .imageWrapper {
                width: 100%;
                height: 16rem;

                .image {
                    border-radius: var(--border-radius-medium);
                }
            }
        }
    }
    .noArtWork {
        opacity: 0.5;
        font-size: var(--font-size-super-large);
        text-align: left;
    }
}
