.community {
    display: flex;
    flex-direction: column;
    padding-top: var(--spacing-galactic);

    .content {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-large) var(--spacing-super-large);
        gap: var(--spacing-gigantic);
        flex-grow: 1;
        margin: 0 auto;
        max-width: 100vw;

        .heading {
            text-align: center;
            color: var(--color-text-accent);
            font-weight: var(--font-weight-extra-bold);

            p {
                color: var(--color-text);
                font-weight: var(--font-weight-medium);
                font-size: var(--font-size-medium);
                max-width: 40rem;
                margin: auto;
            }
        }

        .marqueeWrapper {
            overflow: hidden;
            width: 100%;
            background: white;

            .marqueeContent {
                display: flex;
                gap: 10rem;
                animation: scroll 30s linear infinite;
                width: fit-content;
            }

            .item {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;

                .logo {
                    height: 2rem;
                    width: auto;
                    object-fit: contain;
                }
            }

            &:hover {
                .marqueeContent {
                    animation-play-state: paused;
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
