.values {
    --color-inner-circle: #b4e1e1;

    .valuesContent {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        width: 100%;
        max-width: var(--width-page-max);
        padding: var(--spacing-galactic) var(--spacing-universal);
        gap: var(--spacing-super-large);
        color: var(--color-secondary-light);
        background-color: var(--color-text);
        border-radius: var(--border-radius-large);

        .valueHeadingSection {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-small);
            text-align: center;

            .valueHeading {
                color: var(--color-secondary-light);
            }

            .description {
                font-size: var(--font-size-large);
                text-wrap: balance;
            }
        }

        .valuesList {
            display: flex;
            flex-direction: column;

            .valueBox {
                display: grid;
                grid-template-columns: 0.75fr 0.5fr 0.5fr 1.5fr;
                grid-gap: var(--spacing-large);
                min-height: 12rem;
                height: auto;

                .heading {
                    line-height: 1.5;
                    font-weight: var(--font-weight-bold);
                    text-wrap: balance;
                }

                .separator {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 100%;

                    .outerCircle {
                        border: 2px solid var(--color-secondary-light);
                        border-radius: 50%;
                        transform: scale(0);
                        transition: transform 0.8s ease;
                    }

                    .innerCircle {
                        height: 1.5rem;
                        width: 1.5rem;
                        border: 2px solid var(--color-tertiary-dark);
                        border-radius: 50%;
                        background-color: var(--color-inner-circle);
                    }

                    .line {
                        width: 2px;
                        background-color: var(--color-secondary-light);
                        height: 0;
                        transition: height 0.8s ease;
                    }

                    &.visible {
                        .outerCircle {
                            transform: scale(1);
                        }

                        .line {
                            height: 100%;
                        }
                    }
                }

                .valueIcon {
                    justify-self: center;
                    width: 3rem;
                    height: 3rem;
                }

                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-large);
                }

                &:last-child {
                    .separator {
                        .line {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .valuesContent {
            padding: var(--spacing-super-large) var(--spacing-mega-large);
            .description {
                text-wrap: pretty;
            }

            .valuesList {
                gap: var(--spacing-gigantic);

                .heading {
                    font-weight: var(--font-weight-extra-bold);
                }

                .valueBox {
                    .separator {
                        display: none;
                    }
                }
            }
        }
    }
}
