.smallJourney {
    display: flex;
    flex-direction: column;

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-extra-large);
        padding: var(--spacing-large) var(--spacing-super-large);
        flex-grow: 1;
        margin: 0 auto;
        width: 100%;
        max-width: var(--width-page-max);

        .heading {
            text-align: center;
            color: var(--color-text-accent);
            font-weight: var(--font-weight-medium);

            span {
                font-weight: var(--font-weight-extra-bold);
            }
        }
        .timelineNavPanel {
            position: sticky;
            top: 10rem; /* distance from top of viewport when stuck */
            left: 0;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-mega-large);
            padding: var(--spacing-large) var(--spacing-medium);

            .timePanel {
                display: grid;
                grid-gap: var(--spacing-large);
                grid-template-columns: 1fr 1fr;
                align-items: center;

                .indicator {
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-indicator);
                }
            }
        }

        .timelineContent {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-super-large);
            padding: var(--spacing-super-large);
            max-width: var(--width-page-max);
            margin: 0 auto;
        }
    }
}
