.banner {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    color: var(--color-text-on-secondary);
    padding: 0 var(--spacing-super-large);
    min-height: 70vh;

    .content {
        display: grid;
        grid-gap: var(--spacing-medium);
        grid-template-columns: 1.5fr 1fr;
        flex-grow: 1;
        padding-top: calc(2 * var(--spacing-large) + 2.2rem + 2 * var(--spacing-super-small) + var(--spacing-mega-large));
        margin: 0 auto;
        width: 100%;
        max-width: var(--width-page-max);

        .leftContent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-mega-large);
            padding: var(--spacing-large) 0;

            .headings {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--spacing-medium);

                .heading {
                    color: var(--color-text-on-dark);
                    font-size: calc(var(--font-size-galactic) * var(--multiplier));
                    font-weight: var(--font-weight-extra-bold);
                }

                .yellow {
                    color: var(--color-primary);
                }
            }
        }

        .image {
            height: 30rem;
            align-self: end;
            justify-self: end;
            width: auto;
            object-fit: contain;
        }

        @media (max-width: 1080px) {
            .leftContent {
                .headings {
                    .heading {
                        font-size: calc(var(--font-size-gigantic) * var(--multiplier));
                    }
                }
            }
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .leftContent {
                align-items: center;

                .headings {
                    .heading {
                        text-align: center;
                        font-size: var(--font-size-mega-large);
                    }
                }
            }
            .image {
                justify-self: center;
                place-self: center;
            }
        }
    }
}
