.heading {
    margin: 0;
    color: var(--color-heading);
    font-family: var(--font-heading);
    font-weight: var(--font-weight-extra-bold);

    &.normal {
        font-family: var(--font-text), sans-serif;
        font-weight: var(--font-weight-normal);
    }

    &.superLarge {
        font-size: var(--font-size-galactic);
    }

    &.extraLarge {
        font-size: var(--font-size-mega-large);
    }

    &.large {
        font-size: var(--font-size-super-large);
    }

    &.medium {
        font-size: var(--font-size-extra-large);
    }

    &.small {
        font-size: var(--font-size-large);
    }

    &.extraSmall {
        font-size: var(--font-size-medium);
    }

    &.ellipsize {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.ellipsizeContainer {
    width: 100%;
    overflow: auto;
}
