.valueSection {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1.5fr;
    grid-gap: var(--spacing-large);
    min-height: 12rem;
    height: auto;
    /* opacity: 0.5; */
    transform: translateY(40px);
    transition: all 0.6s ease-out;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--color-secondary-light);
    }
}

.valueSection.visible {
    opacity: 1;
    transform: translateY(0);
}
