.pillarsSection {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-dark);

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: var(--spacing-large) var(--spacing-super-large);
        gap: var(--spacing-galactic);
        flex-grow: 1;
        margin: 0 auto;
        max-width: var(--width-page-max);
        width: 100%;

        .heading {
            text-align: center;
            color: var(--color-text-on-dark);
        }

        .pillarsContainer {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-super-large);

            .pillarContent {
                color: var(--color-text-on-dark);

                .pillarHeading {
                    color: var(--color-text-on-dark);
                }
            }
        }
    }
}
