.section {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 var(--spacing-large);
        gap: var(--spacing-galactic);
        flex-grow: 1;
        margin: 0 auto;
        max-width: var(--width-page-max);
        width: 100%;

        .heading {
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        padding-top: var(--spacing-enormous);
    }
}
