.goals {
    display: flex;

    .goalsContent {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);
        margin: 0 auto;
        max-width: var(--width-page-max);
    }

    .goalsHeading {
        text-wrap: balance;
    }

    .goalDescription {
        font-size: var(--font-size-large);
        max-width: 40rem;
    }

    .goalLists {
        display: grid;
        grid-gap: var(--spacing-mega-large);
        grid-template-columns: 1fr 1fr;

        .goalImageWrapper {
            width: 100%;
            height: 24rem;
            object-fit: cover;

            .goalImage {
                border-radius: var(--border-radius-large);
            }
        }

        .listCard {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-extra-large);

            .card {
                padding: var(--spacing-large) var(--spacing-galactic) var(--spacing-large) var(--spacing-large);
                background-color: var(--color-card);
                min-height: 13rem;
                border-radius: var(--border-radius-large);

                .cardTitle {
                    position: relative;

                    .number {
                        position: absolute;
                        top: 0;
                        color: var(--color-primary);
                        opacity: 35%;
                        font-size: var(--font-size-galactic);
                        font-weight: var(--font-weight-boldest);
                        font-family: var(--font-heading);
                        z-index: 1;
                    }

                    .title {
                        padding-top: calc(1.6rem + var(--spacing-large));
                        z-index: 2;
                        font-weight: var(--font-weight-semi-bold);
                        text-wrap: balance;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .goalLists {
            display: flex;
            flex-direction: column;
        }
    }
}
