.link {
    display: block;
    color: var(--color-text-link);
    padding: var(--spacing-super-small) 0;

    .icon {
        flex-shrink: 0;
        margin: 0 var(--spacing-small);
    }

    &:hover {
        text-decoration: underline;
    }


    &.navigation {
        color: var(--color-text);

        &.active {
            color: var(--color-text-link);
        }

        &:hover {
            color: var(--color-text-link);
            text-decoration: underline;
            transition: 0.2s all ease-in-out;
        }
    }

    &.button {
        transition: 0.2s all ease-in-out;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-primary);
        padding: var(--spacing-super-small) var(--spacing-medium);
        color: var(--color-text-on-dark);
        font-size: var(--font-size-medium);

        &:hover {
            background-color: var(--color-accent);
            text-decoration: unset;
        }
    }

    &.reverse {
        text-transform: uppercase;
        color: var(--color-text);

        &:hover {
            background-color: var(--color-primary);
            text-decoration: unset;
            transition: 0.2s all ease-in-out;
        }
    }

    &.buttonTransparent {
        transition: 0.2s all ease-in-out;
        border: var(--width-separator-thin) solid var(--color-primary);
        border-radius: var(--border-radius-medium);
        padding: var(--spacing-super-small) var(--spacing-medium);
        color: var(--color-primary);
        font-size: var(--font-size-medium);

        &:hover {
            border-color: var(--color-accent);
            text-decoration: unset;
            color: var(--color-accent);
        }
    }

    &.underline {
        transition: 0.2s all ease-in-out;
        color: var(--color-link);

        &:hover {
            text-decoration: underline;
        }
    }

    &.icon {
        display: flex;
        align-items: center;
        transition: 0.2s all ease-in-out;
        border-radius: var(--border-radius-medium);
        background-color: rgba(0, 0, 0, 0.2);
        padding: var(--spacing-super-small) var(--spacing-extra-small);
        line-height: 1;
        color: var(--color-text-on-dark);

        &:hover {
            background-color: var(--color-accent);
            text-decoration: unset;
        }
    }
}
