.banner {
    display: flex;
    flex-direction: column;

    .contentSection {
        background-color: var(--color-tertiary);
        min-height: 50vh;
        padding: calc(2 * var(--spacing-large) + 2.2rem + 2 * var(--spacing-super-small) + var(--spacing-mega-large)) var(--spacing-super-large) 0 var(--spacing-super-large);
        width: 100%;

        .content {
            max-width: var(--width-page-max);
            margin: 0 auto;

            .eyebrowHeading {
                color: var(--color-primary);
                font-weight: var(--font-weight-medium);
            }

            .heading {
                color: var(--color-text-on-secondary);
            }
        }
    }

    &.withoutBackground {
        .contentSection {
            background-color: transparent;

            .content {
                .heading {
                    color: var(--color-heading);
                }
            }
        }
    }

    .bannerImage {
        margin: 0 auto;
        max-width: var(--width-page-max);
        width: 100%;

        .image {
            max-width: var(--width-page-max);
            width: 100%;
            height: 30rem;
            object-fit: cover;
            transform: translate(0%, -20%);
            filter: saturate(15%);
        }
    }

    @media (max-width: 1014px) {
        .bannerImage {
            .image {
                transform: translate(0);
            }
        }
    }
}
