.pillar {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-large);
    gap: var(--spacing-super-large);
    max-width: var(--width-page-max);
    margin: 0 auto;

    .pillarSection {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: var(--spacing-universal);


        &.imageLeft {
            grid-template-columns: 1fr 3fr;
            width: 95%;
            align-self: end;

            .pillarImage {
                align-self: center;
                justify-self: flex-start;
            }
        }

        .pillarContent {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-large);
            margin: 0 auto;
            max-width: var(--width-page-max);

            .pillarHeading {
                position: relative;

                .pillarIcon {
                    position: absolute;
                    width: auto;
                    height:4.25rem;
                    bottom: -9px;
                    left: -20px;

                    .pillarIconImage {
                        &.dark {
                            filter: brightness(70%);
                        }
                    }
                }

                .pillarHeading {
                    position: relative;
                }
            }

            .pillarDescription {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-medium);
                width: 90%;

                .quoteIcon {
                    width: 2rem;
                    height: 2rem;
                }

                .middleImage {
                    display: none;
                }

                @media (max-width: 768px) {
                    .middleImage {
                        display: block;
                        width: 100%;
                        height: 25rem;

                        .image {
                            object-fit: cover;
                            border-radius: var(--border-radius-small);
                        }
                    }
                }

                .quote {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-small);
                    font-style: italic;
                }
                .attribution {
                    font-size: var(--font-size-medium);
                    color: var(--color-text-accent);
                }
               
            }
        }

        .pillarImage {
            width: 20rem;
            height: 16rem;
            justify-self: flex-end;
            align-self: center;
            filter: saturate(25%);

            .image {
                object-fit: cover;
                border-radius: var(--border-radius-small);
            }

            @media (max-width: 768px) {
                display: none;
            }

            &:hover {
                filter: saturate(80%);
            }
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;

            &.imageLeft {
                flex-direction: column;
            }
        }
    }

    .keyAreas {
        color: var(--color-forground);
    }
    .nonClickableTitle{
        padding: var(--spacing-super-small) 0;
    }

    .card {
        display: grid;
        grid-gap: var(--spacing-large);
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--color-secondary);
        border-radius: var(--border-radius-extra-small);
        padding: var(--spacing-large);

        @media (max-width: 768px) {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr;
        }

        .links {
            display: flex;

            .linksContent {
                padding: 0 var(--spacing-large);

                .title {
                    font-weight: var(--font-weight-bold);
                    text-transform: capitalize;
                    color: var(--color-primary);
                }

                .linkDescription {
                    color: var(--color-text-on-dark);
                    font-size: var(--font-size-small);
                    line-height: 1.25;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                gap: var(--spacing-large);
            }
        }

        .separator {
            width: 2px;
            background-color: var(--color-secondary-light);
            height: 100%;

            @media (max-width: 768px) {
                width: 95%;
                background-color: var(--color-secondary-light);
                height: 2px;
                align-self: center;
            }
        }
    }

    .cardImageLeft {
        background-color: var(--color-secondary-light);

        .links {
            display: flex;

            .linksContent {
                .title {
                    color: var(--color-secondary);
                }

                .linkDescription {
                    color: var(--color-text);
                }
            }
        }

        .separator {
            background-color: var(--color-primary)
        }
    }
}
